name: Wake up Streamlit App

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  ping_app:
    runs-on: ubuntu-latest
    steps:
      - name: Ping App
        run: curl --user-agent "Mozilla/5.0" "https://killzone-ai-achuwybnjnppic3divrneh.streamlit.app/"
